*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}
.row{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
header, main, footer{
    max-width: 1080px;
    width: 100%;
}
/*---HEADER---*/
header{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}
header .logo{
    display: flex;
    align-items: center;
}
header .logo img{
    width: 100px;
    height: 100px;
}
header .logo .companyName{
    margin: 15px 20px 0 20px;
}
header .contacts{
    display: flex;
    flex-direction: column;
}
header .contacts a{
    font-size: 24px;
    color: #eb5017;
}
header .row .nav{
    width: 100%;
    height: 40px;
    margin: 30px 0;
    padding: 0 max(50px);
    background-color: #231f20;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .row .nav a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #fff;
    border-right: 1px solid #eb5017;
    transition: .2s ease-in-out;
}
header .row .nav a:last-child{
    border: none;
}
header .row .nav .active{
    background-color: #eb5017;
}
header .row .nav a:hover{
    background-color: #bf3e0f;
}
/*---MAIN---*/
main{
    flex: 1;
}
main h1{
    color: #f54e0e;
    margin: 0 0 0 10%;
}
.calcForm{
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    max-width: 800px;
}
.calcForm .row{
    justify-content: normal;
    margin: 20px 0;
}
.calcForm .row p{
    width: 230px;
    text-align: right;
    font-size: 18px;
}
.calcForm .row input, select{
    width: 100px;
    height: 20px;
    margin: 0 20px;
    padding: 0 5px;
    font-size: 14px;
}
.calcForm .row input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    background: #1e1f23;
    border-radius: 5px;
}
.calcForm .row input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    background: #1e1f23;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}
.calcForm .row input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background:  #e0e0e0;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset -3px -3px 6px rgba(0, 0, 0, 0.5);
    margin-top: -4px
}
.calcForm .row input[type=range]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background:  #e0e0e0;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset -3px -3px 6px rgba(0, 0, 0, 0.5);
    margin-top: -4px
}
.calcForm .row input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: #000000;
    border-radius: 5px;
}
.calcForm .row input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    background: #000000;
    border-radius: 5px;
}
.calcForm .row div{
    position: relative;
}
.calcForm .row div span{
    position: absolute;
    bottom: -20px;
    font-style: italic;
    color: #a6a6a6;
}
.calcForm .row div span:nth-child(2){
    left: 20px;
}
.calcForm .row div span:nth-child(3){
    right: 20px;
}
.calcForm .row input[type=radio]{
    width: 10px;
    height: 10px;
    margin: 0 10px 0 20px;
}
.calcForm .row button{
    height: 30px;
    padding: 0 15px;
    border-radius: 8px;
    background-color: #b7f234;
    border: 1px solid #d8dcb7;
    color:  #365b01;
    font-weight: bold;
    box-shadow: inset 0px -5px 15px rgba(0, 0, 0, 0.4);
    transition: .2s;
    cursor: pointer;
}
.calcForm .row button:hover{
    background-color: #a1d52e;
    color: #2b4900;
}
.alert{
    color: #ba0404;
}
.result{
    display: flex;
    align-items: center;
}
.calcForm .result p{
    color: #616e37;
    display: inline-flex;
    align-items: center;
    width: min-content;
    margin: 0 10px 0 20px;
}
.calcForm .submitRow{
    margin: 50px 0 0 0;
}
.breadcrumbs a{
    padding: 0 0 0 20px;
    text-decoration: underline;
    color: #000;
}
/*---FOOTER---*/
footer{
    width: 100%;
    height: 40px;
    background-color: #231f20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px max(50px) 50px max(50px);
}
footer a{
    margin: 0 20px 0 0;
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
}